@font-face {
    font-family: "DM Serif Display";
    src: url('../fonts/DMSerifDisplay-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: "DM Sans";
    src: url('../fonts/DMSans-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: "DM Sans";
    src: url('../fonts/DMSans-Medium.woff2') format('woff2');
    font-weight: 500;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "DM Serif Display", serif;
}

.navigation {
    width: 100%;
    position: absolute;
    z-index: 2;
    font-family: "DM Serif Display", serif;
    background-color: #fafafa;
}

.navigation__content {
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 3rem;
    text-decoration: none;
    color: black;
}

.navigation__menu {
    display: flex;
    justify-content: space-between;
    gap: 3.5rem;
}

.menu__item {
    font-size: 1.35rem;
}

.menu__item--link {
    text-decoration: none;
    color: black;
}

.hero__section {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__img {
    width: 30%;
    height: 70%;
    margin-top: 6.5rem;
    position: absolute;
    z-index: 1;
    object-fit: cover;
}

.hero__img--bg {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    object-fit: cover;
}

.hero__content {
    margin-top: 5rem;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    color: white;
}

.hero__title {
    font-size: 5vw;
    line-height: 1.35;
    letter-spacing: .1rem;
    text-align: center;
}

.hero__title--line {
    display: block;
    font-size: 6.25vw;
}

.hero__cta {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    border: 0.15rem solid white;
    letter-spacing: .05rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .8s;
}

.hero__cta:hover {
    background-color: white;
    color: black;
}

.categories__section {
    margin: 5rem;
}

.categories__title {
    font-size: 2.5rem;
}

.carousel {
    display: flex;
    margin-top: 2.5rem;
    cursor: pointer;
    overflow-x: scroll;
    overflow-y: hidden;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel__content {
    display: flex;
    gap: 2.5rem;
}

.carousel__item {
    width: 22rem;
    height: 12rem;
    position: relative;
}

.item__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    transition: all .8s;
}

.item__content:hover {
    background-color: rgba(0, 0, 0, .25);
}

.item__title {
    font-size: 1.35rem;
    font-weight: 500;
    letter-spacing: .15rem;
    color: white;
    text-transform: uppercase;
}

.item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}