{% extends "_layout" %}

  {% block content %}

      <section class="about__section">
        <div class="about__content">
            <h2 class="about__title">Welcome to<span class="about__title--line">FurnDeco.</span></h2>
            <img class="about__img" src="assets/banners/about.jpg">
        </div>
        <div class="about__text--wrapper">
            <p class="about__text">Our passion lies in crafting furniture that merges elegance with comfort. We are dedicated to curating pieces that not only elevate your space but also serve as expressions of individual style and preference. Each item is designed to harmonize with your unique vision, imparting not just charm, but an unmistakable sense of uniqueness to your space.<p>
        <div>
      </section>
      
  {% endblock %} 