{% extends "_layout" %}

    {% block content %}

        <section class="cart__section">
            <div class="cart__items">
                <h3 class="cart__title">Your items</h3>
                {% set cartItems = craft.entries().section('cartItems').orderBy('RAND()').all() %}
                {% for cartItem in cartItems %}
                    <article class="cart__item">
                        <img src="{{cartItem.product.one().productImage.one().url()}}" >
                        <h4>{{cartItem.product.one().title}}<h4>
                    </article>
                {% endfor %}
            </div>
            <div class="checkout__overview">
                <h3 class="cart__title">Checkout overview</h3>
                <div class="">
                    <p>Items Subtotal</p>
                    <span>0</span>
                </div>
                <div>
                    <p>Shipping Costs</p>
                    <span>€49.99</span>
                </div>
                <div>
                    <p>Total (incl. taxes)</p>
                    <span>0</span>
                </div>
                <a></a>
            </div>
        </section>
      
    {% endblock %} 