{% extends "_layout" %}

  {% block content %}

      <section class="hero__section">
        <img class="hero__img" src="assets/image-1.png">
        <img class="hero__img--bg" src="assets/image-2.png">
        <div class="hero__content">
          <p class="hero__title"><span class="hero__title--line">Experience</span> comfort &amp; elegance</p>
          <a class="hero__cta" href="">View collection</a>
        </div>
      </section>
      
  {% endblock %} 