<div class="categories__wrapper">
    <div class="categories__select">
        <div>
        <div class="categories__items">
        {% for category in categories %}
            <div class="categories__item">
            <div class="item__content"><span>{{category.title}}</span></div>
            <img class="item__img" src="{{category.categoriesImage.one().url()}}">
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="categories__button left"><img src="assets/icons/left.svg"></div>
    <div class="categories__button right"><img src="assets/icons/right.svg"></div>
</div>