<div class="products__sorting">
    <div class="sorting__select">
        <span>Most Popular</span>
        <img class="sorting__icon" src="assets/icons/dropdown.svg">
    </div>
    <div class="sorting__options">
        <div class="sorting__option">Most Popular</div>
        <div class="sorting__option">Alphabetical</div>
        <div class="sorting__option">Price: low to high</div>
        <div class="sorting__option">Price: high to low</div>
    </div>
</div>